Logistics News.json
{
  "name": "Logistics News",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -896,
        0
      ],
      "id": "1c8112f9-70c0-4398-aa54-4ceadfbfe341",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "let now = new Date();\n\nconst reportHour = 19;\n\nlet lastRun = new Date(now);\nlastRun.setHours(reportHour, 0, 0, 0);\n\nif (now.getHours() < reportHour) {\n  lastRun.setDate(lastRun.getDate() - 1);\n}\n\nlet prevRun = new Date(lastRun);\nprevRun.setDate(prevRun.getDate() - 1);\n\n// =========================\n// 🧠 فلترة بالتاريخ\nlet all = items.filter(item => {\n  const rawDate = item.json.pubDate || item.json.isoDate;\n  if (!rawDate) return false;\n\n  const d = new Date(rawDate);\n  return !isNaN(d) && d > prevRun && d <= lastRun;\n});\n\n// =========================\n// 🔗 تنظيف اللينك\nfunction cleanLink(link, content) {\n  if (!link) return \"\";\n\n  if (link.includes(\"news.google.com\")) {\n    try {\n      const urlObj = new URL(link);\n      let real = new URLSearchParams(urlObj.search).get(\"url\");\n\n      if (!real && content) {\n        const match = content.match(/href=\"(https?:\\/\\/[^\"]+)\"/);\n        if (match && !match[1].includes(\"news.google.com\")) {\n          real = match[1];\n        }\n      }\n\n      if (real) return decodeURIComponent(real);\n    } catch (e) {}\n  }\n\n  return link;\n}\n\n// =========================\n// 📦 فلترة لوجيستكس (خفيفة)\nlet logisticsOnly = all.filter(item => {\n  const text = (\n    (item.json.title || \"\") + \" \" +\n    (item.json.contentSnippet || \"\") + \" \" +\n    (item.json.summary || \"\")\n  ).toLowerCase();\n\n  return (\n    text.includes(\"logistics\") ||\n    text.includes(\"supply chain\") ||\n    text.includes(\"freight\") ||\n    text.includes(\"shipping\") ||\n    text.includes(\"transport\") ||\n    text.includes(\"cargo\")\n  );\n});\n\n// =========================\n// 🔥 فلترة قوية (اختياري)\nlet strong = logisticsOnly.filter(item => {\n  const text = (\n    (item.json.title || \"\") + \" \" +\n    (item.json.contentSnippet || \"\") + \" \" +\n    (item.json.summary || \"\")\n  ).toLowerCase();\n\n  return (\n    text.includes(\"disruption\") ||\n    text.includes(\"delay\") ||\n    text.includes(\"crisis\") ||\n    text.includes(\"risk\") ||\n    text.includes(\"capacity\") ||\n    text.includes(\"demand\")\n  );\n});\n\n// =========================\n// 🧠 لو قليل → استخدم العادي\nlet final = strong.length >= 7 ? strong : logisticsOnly;\n\n// =========================\n// ترتيب\nfinal.sort((a, b) => {\n  const score = (txt) => {\n    txt = (txt || \"\").toLowerCase();\n    let s = 0;\n    if (txt.includes(\"global\")) s += 3;\n    if (txt.includes(\"crisis\") || txt.includes(\"risk\")) s += 2;\n    if (txt.includes(\"supply chain\")) s += 2;\n    if (txt.includes(\"freight\")) s += 1;\n    return s;\n  };\n\n  return score(b.json.title) - score(a.json.title);\n});\n\n// =========================\n// 🎯 خد 10\nfinal = final.slice(0, 10);\n\n// =========================\n// 📤 Output\nreturn final.map(item => ({\n  json: {\n    title: item.json.title || \"\",\n    content: item.json.contentSnippet || item.json.summary || \"\",\n    link: cleanLink(\n      item.json.link || item.json.guid || item.json.url,\n      item.json.content\n    ),\n    date: item.json.pubDate || item.json.isoDate || \"\"\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        16
      ],
      "id": "b5a6b0f4-8897-40ec-99a7-16b5671722b1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior logistics intelligence analyst.\n\nYou will receive a LIST of 10 news articles.\n\nYour task:\n- Select ONLY the 7 most important logistics-related news.\n- You MUST return EXACTLY 7 items (not more, not less).\n\nSelection criteria:\n- Global supply chain impact\n- Freight & logistics operations\n- Economic / geopolitical importance\n\nIgnore weak or repetitive news.\n\nFor EACH selected article:\n- Rewrite title professionally\n- Translate into Arabic (1–2 lines)\n- Write a short Arabic impact\n\nRules:\n- Do NOT return more than 7 items\n- Do NOT return less than 7 items\n- Keep links unchanged\n- No explanations, no extra text\n\nReturn ONLY valid JSON array with EXACTLY 7 objects:\n\n[\n  {\n    \"title\": \"...\",\n    \"translation\": \"...\",\n    \"impact\": \"...\",\n    \"link\": \"...\"\n  }\n]\n\n---\n\n{{ $json.title }}\n{{ $json.content }}\n{{ $json.link }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        864,
        16
      ],
      "id": "0701be4c-3e48-452d-8e85-cd31ec5eac42",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        864,
        224
      ],
      "id": "3f27fa9d-5f3f-4437-bc5a-cce9d86c3244",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ABrrjVVx22morxnN",
          "name": "Turbo Tokens"
        }
      }
    },
    {
      "parameters": {
        "chatId": "622030302",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1504,
        16
      ],
      "id": "d86e0c8d-aef2-47b9-af31-242d9fdc2ab8",
      "name": "Send a text message",
      "webhookId": "ed1faa0d-81ab-46be-829f-7d4b9d0aa6a5",
      "credentials": {
        "telegramApi": {
          "id": "POeP4Hy5cJNBMsE3",
          "name": "LogisticsNews qassem"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        336,
        -48
      ],
      "id": "fd068e08-2018-42f7-a752-27ea0b27c1d9",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://www.freightwaves.com/news/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -272,
        -176
      ],
      "id": "df7dfdc8-c950-4037-9acd-0f298c024aa7",
      "name": "freightwaves"
    },
    {
      "parameters": {
        "url": "https://www.supplychaindive.com/feeds/news/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -272,
        -16
      ],
      "id": "0397942d-56f8-475c-8acd-0785764cb6d5",
      "name": "supplychaindive"
    },
    {
      "parameters": {
        "url": "https://theloadstar.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -272,
        144
      ],
      "id": "661188b9-aef7-484f-9b21-efb3c5e2f0d5",
      "name": "theloadstar"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=logistics+OR+supply+chain+OR+shipping",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -272,
        288
      ],
      "id": "ce75a700-97c8-4faa-ba4a-dc73c7b89f48",
      "name": "logistics"
    },
    {
      "parameters": {
        "url": "https://splash247.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -272,
        432
      ],
      "id": "c9eb4c36-0127-48f3-bb0a-caf263c0c1be",
      "name": "splash247"
    },
    {
      "parameters": {
        "url": "https://www.theguardian.com/uk/business/rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -272,
        592
      ],
      "id": "ffed3a0e-789e-462f-a10a-8d1f3c00fae2",
      "name": "theguardian"
    },
    {
      "parameters": {
        "jsCode": "let results = [];\n\nfor (const i of items) {\n  let raw = i.json.output || \"\";\n\n  // نشيل أي markdown\n  raw = raw.replace(/```json|```/g, \"\").trim();\n\n  // نحاول نلقط كل JSON object جوه النص\n  const matches = raw.match(/{[\\s\\S]*?}/g);\n\n  if (!matches) continue;\n\n  for (const m of matches) {\n    try {\n      const obj = JSON.parse(m);\n      results.push(obj);\n    } catch (e) {}\n  }\n}\n\n// خد أول 7\nresults = results.slice(0, 7);\n\n// رجعهم كـ messages\nreturn results.map(item => ({\n  json: {\n    text: `📦 Logistics News\n\n${item.title || \"—\"}\n\n📌 ملخص:\n${item.translation || \"—\"}\n\n⚡ التأثير:\n${item.impact || \"—\"}\n\n🔗 ${item.link || \"—\"}`\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        16
      ],
      "id": "deb465b3-725a-4b37-9a66-98a6c105d8f5",
      "name": "Send 7 News"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "supplychaindive",
            "type": "main",
            "index": 0
          },
          {
            "node": "freightwaves",
            "type": "main",
            "index": 0
          },
          {
            "node": "theloadstar",
            "type": "main",
            "index": 0
          },
          {
            "node": "theguardian",
            "type": "main",
            "index": 0
          },
          {
            "node": "splash247",
            "type": "main",
            "index": 0
          },
          {
            "node": "logistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send 7 News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "freightwaves": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "supplychaindive": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "theloadstar": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "logistics": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "splash247": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "theguardian": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Send 7 News": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "59369e92-0e25-4d6f-ae4e-140f4142de61",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "789898b22df5490ee7fee9adc686abf4348ff76dd7521b6ae2563557f413c71d"
  },
  "id": "YjBwygudOpfJtQsq",
  "tags": []
}